<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>#jekyll logs</title>
  <script src="/javascripts/moment.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/messages.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
