<article class="message">
  <h1 id="message-id">message no. <%= @m.id %></h1>
  <p>
    Posted by <%= @m.author %> at <%= @m.at %>
  </p>
  <div class="monospaced">
    <%= @m.message %>
  </div>
</article>
